.checked {
	background-color:#ffa1a1;
	font-weight: bold;
	color: #003000;
	font-size: 23;
}

.selected {
	background-color: #d0d0d0;
	font-weight: bold;
	color: #003000;
}


.board {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.board tr {
	height: 75px;
	border: 1px solid black;
}

.board thead tr {
	height: 75px;
}

.board th {
	background-color: #990000;
	color: white;
	font-size:40px;
}

.board td {
	text-align: center;
	border: 1px solid black;
}